@model RateMy.com.Models.AdminViewModel


    @foreach (var imagePropertys in Model.ImagesWithInfo)
    {
        <article class="thumb">
            <a href="@imagePropertys.FilePathContentFolder" class="image">
                @* Full image *@
                <img src="@imagePropertys.FilePathContentFolder" alt="" height="auto" width="540"/> @* Thumb image *@
            </a>
            <h2>By @imagePropertys.Name</h2>
            @* show image button *@

            @using (Html.BeginForm("ShowImage", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="hidden" name="id" id="id" placeholder="@imagePropertys.Id" value="@imagePropertys.Id"/>
                <ul class="actions">
                    <li>
                        <input type="submit" value="Show" class="special" />
                    </li>
                </ul>
            }
        </article>
    }
